#cinema {
    margin-top: 54px;
    h3 {
        width: 100%;
        background: #e2dede;
        padding: 10px 10px;
        box-sizing: border-box;
        font-size: 14px;
        color: #7d7878;
        font-weight: normal;
    }
}