#filmsList {
    margin-top: 54px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #efeeee;
    ul {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #ff8c00;
        padding-bottom: 15px;
        li {
            font-size: 16px;
            list-style: none;
            color: gray;
        }
    }
}