<div id="total">
    <div class="left">
        <img [src]="Hdata.poster.origin" alt="">
    </div>
    <div class="right">
        <div class="top">
            <h4>
                {{Hdata.name}}
            </h4>
            <span>
              <em>
                  {{Hdata.grade}}
              </em>
              <i>
                  &gt;
              </i>
      </span>
        </div>
        <h6>
            {{Hdata.intro}}
        </h6>
        <div class="bottom">
            <span>
        <em>
            {{Hdata.cinemaCount}}
        </em>家影院上映
      </span>
            <span>
              <em>
                  {{Hdata.watchCount}}
              </em>人购票
      </span>
        </div>
    </div>
</div>